body {
  background-color: #EEE;
}

/* Navigation */

@font-face {
    font-family: Roboto;
    src: url(resource_font/Roboto-Regular.ttf);
}
@font-face {
  font-family: N3DS;
  src: url(resource_font/nintendo_NTLGDB_001.ttf);
}
@font-face {
  font-family: NSW;
  src: url(resource_font/nintendo_udsgr_std_003.ttf);
}
@font-face {
  font-family: UDK;
  src: url(resource_font/47211.ttf);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: darkblue;
  font-family: NSW;
  font-size: 16px;
  font-weight: 300;
  padding-left: 25%;
  padding-right: 25%;
}

.active {
  color: #88CCF1;
}

img {
  padding-left: 25%;
  padding-right: 25%;
}

h1 {
  color: indigo;
  font-family: UDK;
  font-weight: normal;
  font-size: 50px;
  text-align: middle;
  padding-left: 25%;
  padding-right: 25%;
  }
h2 {
color: indigo;
font-family: N3DS;
font-weight: normal;
font-size: 32px;
text-align: middle;
padding-left: 25%;
padding-right: 25%;
}
p {
font-family: NSW;
color: darkblue;
font-size: 18px;
padding-left: 25%;
padding-right: 25%;
}
a{
font-family: NSW;
font-size: 18px;
font-weight: normal;
color: purple;
}
a:hover{
background-color: #8080e2;
font-weight: bolder;
color: yellow;
}
header{
background-color: thistle;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 5%;
padding-right: 25%;
}
header a{
padding: 20px 20px 20px 20px;
}
header img{
  width: 15%;
  padding-left: 0;
  padding-right: 10%;
}

.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}